In [1]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
import requests

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Joacaro/Datasets/master/Anexo_Forma_B_demo_round_traces.csv', skipinitialspace=True, sep=";")
df

,Unnamed: 0,Map,Team,InternalTeamId,MatchId,RoundId,SteamId,RoundWinner,MatchWinner,Survived,...,RoundAssists,RoundHeadshots,RoundFlankKills,RoundStartingEquipmentValue,TeamStartingEquipmentValue,MatchKills,MatchFlankKills,MatchAssists,MatchHeadshots,AvgMatchKillDist
0,600,de_inferno,Terrorist,1,4,1,76561198036987787,False,True,False,...,0,0,0,750,4400,0,0,0,0,501379.183091
1,601,de_inferno,Terrorist,1,4,1,76561197971812216,False,True,False,...,0,0,0,800,4400,0,0,0,0,208807.587297
2,602,de_inferno,Terrorist,1,4,1,76561197972240652,False,True,False,...,0,0,0,1000,4400,0,0,0,0,381652.027911
3,603,de_inferno,Terrorist,1,4,1,76561197975824962,False,True,False,...,0,0,0,850,4400,0,0,0,0,289754.503091
4,604,de_inferno,Terrorist,1,4,1,76561197960331095,False,True,True,...,0,0,0,1000,4400,0,0,0,0,254527.691176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79152,123775,de_mirage,CounterTerrorist,2,511,5,76561198024905796,False,False,False,...,0,0,0,5600,27100,4,0,2,2,768003.878843
79153,123776,de_mirage,CounterTerrorist,2,511,5,76561198000020858,False,False,False,...,0,1,0,5500,27100,8,5,1,3,692262.605640
79154,123777,de_mirage,CounterTerrorist,2,511,5,76561198013485667,False,False,False,...,0,0,0,4950,27100,5,0,2,3,161310.783653
79155,123778,de_mirage,CounterTerrorist,2,511,5,76561197972003061,False,False,False,...,0,0,0,4950,27100,1,0,1,0,984575.199373
79156,123779,de_mirage,CounterTerrorist,2,511,5,76561197989744167,False,False,True,...,0,2,0,6100,27100,5,1,1,2,633305.796231

In [19]:
from sklearn.preprocessing import LabelEncoder
X = df.iloc[::].values
le = LabelEncoder()
X[:, 1] = le.fit_transform(X[:, 1])
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,600,1,Terrorist,1,4,1,76561198036987787,False,True,False,...,0,0,0,750,4400,0,0,0,0,501379.183091
1,601,1,Terrorist,1,4,1,76561197971812216,False,True,False,...,0,0,0,800,4400,0,0,0,0,208807.587297
2,602,1,Terrorist,1,4,1,76561197972240652,False,True,False,...,0,0,0,1000,4400,0,0,0,0,381652.027911
3,603,1,Terrorist,1,4,1,76561197975824962,False,True,False,...,0,0,0,850,4400,0,0,0,0,289754.503091
4,604,1,Terrorist,1,4,1,76561197960331095,False,True,True,...,0,0,0,1000,4400,0,0,0,0,254527.691176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79152,123775,2,CounterTerrorist,2,511,5,76561198024905796,False,False,False,...,0,0,0,5600,27100,4,0,2,2,768003.878843
79153,123776,2,CounterTerrorist,2,511,5,76561198000020858,False,False,False,...,0,1,0,5500,27100,8,5,1,3,692262.60564
79154,123777,2,CounterTerrorist,2,511,5,76561198013485667,False,False,False,...,0,0,0,4950,27100,5,0,2,3,161310.783653
79155,123778,2,CounterTerrorist,2,511,5,76561197972003061,False,False,False,...,0,0,0,4950,27100,1,0,1,0,984575.199373
79156,123779,2,CounterTerrorist,2,511,5,76561197989744167,False,False,True,...,0,2,0,6100,27100,5,1,1,2,633305.796231

In [20]:
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,600,1,1,1,4,1,76561198036987787,False,True,False,...,0,0,0,750,4400,0,0,0,0,501379.183091
1,601,1,1,1,4,1,76561197971812216,False,True,False,...,0,0,0,800,4400,0,0,0,0,208807.587297
2,602,1,1,1,4,1,76561197972240652,False,True,False,...,0,0,0,1000,4400,0,0,0,0,381652.027911
3,603,1,1,1,4,1,76561197975824962,False,True,False,...,0,0,0,850,4400,0,0,0,0,289754.503091
4,604,1,1,1,4,1,76561197960331095,False,True,True,...,0,0,0,1000,4400,0,0,0,0,254527.691176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79152,123775,2,0,2,511,5,76561198024905796,False,False,False,...,0,0,0,5600,27100,4,0,2,2,768003.878843
79153,123776,2,0,2,511,5,76561198000020858,False,False,False,...,0,1,0,5500,27100,8,5,1,3,692262.60564
79154,123777,2,0,2,511,5,76561198013485667,False,False,False,...,0,0,0,4950,27100,5,0,2,3,161310.783653
79155,123778,2,0,2,511,5,76561197972003061,False,False,False,...,0,0,0,4950,27100,1,0,1,0,984575.199373
79156,123779,2,0,2,511,5,76561197989744167,False,False,True,...,0,2,0,6100,27100,5,1,1,2,633305.796231

In [21]:
le = LabelEncoder()
X[:, 7] = le.fit_transform(X[:, 7])
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,600,1,1,1,4,1,76561198036987787,0,True,False,...,0,0,0,750,4400,0,0,0,0,501379.183091
1,601,1,1,1,4,1,76561197971812216,0,True,False,...,0,0,0,800,4400,0,0,0,0,208807.587297
2,602,1,1,1,4,1,76561197972240652,0,True,False,...,0,0,0,1000,4400,0,0,0,0,381652.027911
3,603,1,1,1,4,1,76561197975824962,0,True,False,...,0,0,0,850,4400,0,0,0,0,289754.503091
4,604,1,1,1,4,1,76561197960331095,0,True,True,...,0,0,0,1000,4400,0,0,0,0,254527.691176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79152,123775,2,0,2,511,5,76561198024905796,0,False,False,...,0,0,0,5600,27100,4,0,2,2,768003.878843
79153,123776,2,0,2,511,5,76561198000020858,0,False,False,...,0,1,0,5500,27100,8,5,1,3,692262.60564
79154,123777,2,0,2,511,5,76561198013485667,0,False,False,...,0,0,0,4950,27100,5,0,2,3,161310.783653
79155,123778,2,0,2,511,5,76561197972003061,0,False,False,...,0,0,0,4950,27100,1,0,1,0,984575.199373
79156,123779,2,0,2,511,5,76561197989744167,0,False,True,...,0,2,0,6100,27100,5,1,1,2,633305.796231

In [22]:
le = LabelEncoder()
X[:, 8] = le.fit_transform(X[:, 8])
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,600,1,1,1,4,1,76561198036987787,0,1,False,...,0,0,0,750,4400,0,0,0,0,501379.183091
1,601,1,1,1,4,1,76561197971812216,0,1,False,...,0,0,0,800,4400,0,0,0,0,208807.587297
2,602,1,1,1,4,1,76561197972240652,0,1,False,...,0,0,0,1000,4400,0,0,0,0,381652.027911
3,603,1,1,1,4,1,76561197975824962,0,1,False,...,0,0,0,850,4400,0,0,0,0,289754.503091
4,604,1,1,1,4,1,76561197960331095,0,1,True,...,0,0,0,1000,4400,0,0,0,0,254527.691176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79152,123775,2,0,2,511,5,76561198024905796,0,0,False,...,0,0,0,5600,27100,4,0,2,2,768003.878843
79153,123776,2,0,2,511,5,76561198000020858,0,0,False,...,0,1,0,5500,27100,8,5,1,3,692262.60564
79154,123777,2,0,2,511,5,76561198013485667,0,0,False,...,0,0,0,4950,27100,5,0,2,3,161310.783653
79155,123778,2,0,2,511,5,76561197972003061,0,0,False,...,0,0,0,4950,27100,1,0,1,0,984575.199373
79156,123779,2,0,2,511,5,76561197989744167,0,0,True,...,0,2,0,6100,27100,5,1,1,2,633305.796231

In [23]:
le = LabelEncoder()
X[:, 9] = le.fit_transform(X[:, 9])
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,600,1,1,1,4,1,76561198036987787,0,1,0,...,0,0,0,750,4400,0,0,0,0,501379.183091
1,601,1,1,1,4,1,76561197971812216,0,1,0,...,0,0,0,800,4400,0,0,0,0,208807.587297
2,602,1,1,1,4,1,76561197972240652,0,1,0,...,0,0,0,1000,4400,0,0,0,0,381652.027911
3,603,1,1,1,4,1,76561197975824962,0,1,0,...,0,0,0,850,4400,0,0,0,0,289754.503091
4,604,1,1,1,4,1,76561197960331095,0,1,1,...,0,0,0,1000,4400,0,0,0,0,254527.691176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79152,123775,2,0,2,511,5,76561198024905796,0,0,0,...,0,0,0,5600,27100,4,0,2,2,768003.878843
79153,123776,2,0,2,511,5,76561198000020858,0,0,0,...,0,1,0,5500,27100,8,5,1,3,692262.60564
79154,123777,2,0,2,511,5,76561198013485667,0,0,0,...,0,0,0,4950,27100,5,0,2,3,161310.783653
79155,123778,2,0,2,511,5,76561197972003061,0,0,0,...,0,0,0,4950,27100,1,0,1,0,984575.199373
79156,123779,2,0,2,511,5,76561197989744167,0,0,1,...,0,2,0,6100,27100,5,1,1,2,633305.796231

In [24]:
df1 = pd.DataFrame(X, columns=['Unnamed: 0', 'Map', 'Team', 'InternalTeamId', 'MatchId', 'RoundId',
       'SteamId', 'RoundWinner', 'MatchWinner', 'Survived', 'AbnormalMatch',
       'TimeAlive', 'ScaledTimeAlive', 'AvgCentroidDistance',
       'TravelledDistance', 'AvgRoundVelocity', 'AvgKillDistance',
       'AvgSiteDistance', 'RLethalGrenadesThrown', 'RNonLethalGrenadesThrown',
       'PrimaryAssaultRifle', 'PrimarySniperRifle', 'PrimaryHeavy',
       'PrimarySMG', 'PrimaryPistol', 'FirstKillTime', 'RoundKills',
       'RoundAssists', 'RoundHeadshots', 'RoundFlankKills',
       'RoundStartingEquipmentValue', 'TeamStartingEquipmentValue',
       'MatchKills', 'MatchFlankKills', 'MatchAssists', 'MatchHeadshots',
       'AvgMatchKillDist'])

In [25]:
df2=pd.to_numeric(df1['Unnamed: 0'],errors='coerce')
df1['Unnamed: 0']=df2
df2=pd.to_numeric(df1['Map'],errors='coerce')
df1['Map']=df2
df2=pd.to_numeric(df1['Team'],errors='coerce')
df1['Team']=df2
df2=pd.to_numeric(df1['InternalTeamId'],errors='coerce')
df1['InternalTeamId']=df2
df2=pd.to_numeric(df1['MatchId'],errors='coerce')
df1['MatchId']=df2
df2=pd.to_numeric(df1['RoundId'],errors='coerce')
df1['RoundId']=df2
df2=pd.to_numeric(df1['SteamId'],errors='coerce')
df1['SteamId']=df2
df2=pd.to_numeric(df1['RoundWinner'],errors='coerce')
df1['RoundWinner']=df2
df2=pd.to_numeric(df1['MatchWinner'],errors='coerce')
df1['MatchWinner']=df2
df2=pd.to_numeric(df1['Survived'],errors='coerce')
df1['Survived']=df2
df2=pd.to_numeric(df1['AbnormalMatch'],errors='coerce')
df1['AbnormalMatch']=df2
df2=pd.to_numeric(df1['TimeAlive'],errors='coerce')
df1['TimeAlive']=df2
df2=pd.to_numeric(df1['ScaledTimeAlive'],errors='coerce')
df1['ScaledTimeAlive']=df2
df2=pd.to_numeric(df1['AvgCentroidDistance'],errors='coerce')
df1['AvgCentroidDistance']=df2
df2=pd.to_numeric(df1['TravelledDistance'],errors='coerce')
df1['TravelledDistance']=df2
df2=pd.to_numeric(df1['AvgRoundVelocity'],errors='coerce')
df1['AvgRoundVelocity']=df2
df2=pd.to_numeric(df1['AvgKillDistance'],errors='coerce')
df1['AvgKillDistance']=df2
df2=pd.to_numeric(df1['AvgSiteDistance'],errors='coerce')
df1['AvgSiteDistance']=df2
df2=pd.to_numeric(df1['RLethalGrenadesThrown'],errors='coerce')
df1['RLethalGrenadesThrown']=df2
df2=pd.to_numeric(df1['RNonLethalGrenadesThrown'],errors='coerce')
df1['RNonLethalGrenadesThrown']=df2
df2=pd.to_numeric(df1['PrimaryAssaultRifle'],errors='coerce')
df1['PrimaryAssaultRifle']=df2
df2=pd.to_numeric(df1['PrimarySMG'],errors='coerce')
df1['PrimarySMG']=df2
df2=pd.to_numeric(df1['PrimaryPistol'],errors='coerce')
df1['PrimaryPistol']=df2
df2=pd.to_numeric(df1['FirstKillTime'],errors='coerce')
df1['FirstKillTime']=df2
df2=pd.to_numeric(df1['RoundKills'],errors='coerce')
df1['RoundKills']=df2
df2=pd.to_numeric(df1['RoundAssists'],errors='coerce')
df1['RoundAssists']=df2
df2=pd.to_numeric(df1['RoundHeadshots'],errors='coerce')
df1['RoundHeadshots']=df2
df2=pd.to_numeric(df1['RoundFlankKills'],errors='coerce')
df1['RoundFlankKills']=df2
df2=pd.to_numeric(df1['RoundStartingEquipmentValue'],errors='coerce')
df1['RoundStartingEquipmentValue']=df2
df2=pd.to_numeric(df1['TeamStartingEquipmentValue'],errors='coerce')
df1['TeamStartingEquipmentValue']=df2
df2=pd.to_numeric(df1['MatchKills'],errors='coerce')
df1['MatchKills']=df2
df2=pd.to_numeric(df1['MatchFlankKills'],errors='coerce')
df1['MatchFlankKills']=df2
df2=pd.to_numeric(df1['MatchAssists'],errors='coerce')
df1['MatchAssists']=df2
df2=pd.to_numeric(df1['MatchHeadshots'],errors='coerce')
df1['MatchHeadshots']=df2
df2=pd.to_numeric(df1['AvgMatchKillDist'],errors='coerce')
df1['AvgMatchKillDist']=df2
df2=pd.to_numeric(df1['PrimaryHeavy'],errors='coerce')
df1['PrimaryHeavy']=df2
df2=pd.to_numeric(df1['PrimarySMG'],errors='coerce')
df1['AvgMatchKillDist']=df2
df2=pd.to_numeric(df1['PrimarySniperRifle'],errors='coerce')
df1['PrimarySniperRifle']=df2

In [27]:
dfl=df1

In [28]:
x = dfl[['MatchFlankKills', 'MatchAssists', 'MatchHeadshots']] # Variables independientes
y = dfl['MatchKills'] # Variable dependiente

In [29]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=29)

In [31]:
for i in range(100):
    input_data = dict(X_test.iloc[i])
    target = y_test.iloc[i]
    r = requests.post("http://127.0.0.1:8000/api/v1/MatchKillsLR/predict?status=ab_testing", input_data)
    response = r.json()
    # provide feedback
    requests.put("http://127.0.0.1:8000/api/v1/mlrequests/{}".format(response["request_id"]), {"feedback": target})

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [7]:
for i in range(100):
    dict(X_test.iloc[i])